<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="Modstud">
		<size>400,387</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxStaticText" name="ID_STATICTEXT1" variable="StaticText1" member="yes">
			<label>Modify Student Details</label>
			<pos>80,32</pos>
			<size>224,24</size>
			<font>
				<size>14</size>
				<style>italic</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Candara</face>
			</font>
		</object>
		<object class="wxButton" name="ID_NAME" variable="name" member="yes">
			<label>Modify Name</label>
			<pos>160,80</pos>
			<size>128,23</size>
			<handler function="OnnameClick" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Modify Class</label>
			<pos>160,120</pos>
			<size>128,23</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>Modify Course</label>
			<pos>160,160</pos>
			<size>128,23</size>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
			<label>Modify Marks</label>
			<pos>160,200</pos>
			<size>128,23</size>
			<handler function="OnButton3Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
			<label>Modify Grade</label>
			<pos>160,240</pos>
			<size>128,23</size>
			<handler function="OnButton4Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON5" variable="Button5" member="yes">
			<label>Modify Sem</label>
			<pos>160,280</pos>
			<size>128,23</size>
			<handler function="OnButton5Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON6" variable="Button6" member="yes">
			<label>View Details</label>
			<pos>160,320</pos>
			<size>128,23</size>
			<handler function="OnButton6Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT2" variable="StaticText2" member="yes">
			<label>1.</label>
			<pos>144,88</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT3" variable="StaticText3" member="yes">
			<label>2.</label>
			<pos>144,128</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>3.</label>
			<pos>144,168</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT5" variable="StaticText5" member="yes">
			<label>4.</label>
			<pos>144,208</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT6" variable="StaticText6" member="yes">
			<label>5.</label>
			<pos>144,248</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT7" variable="StaticText7" member="yes">
			<label>6.</label>
			<pos>144,288</pos>
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT8" variable="StaticText8" member="yes">
			<label>7.</label>
			<pos>144,328</pos>
		</object>
		<object class="wxButton" name="ID_BUTTON7" variable="Button7" member="yes">
			<label>Back</label>
			<pos>32,344</pos>
			<size>40,23</size>
			<handler function="OnButton7Click" entry="EVT_BUTTON" />
		</object>
	</object>
</wxsmith>
