<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="ModSteach">
		<size>400,381</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<object class="wxButton" name="ID_BUTTON1" variable="Button1" member="yes">
			<label>Modify Marks</label>
			<pos>136,88</pos>
			<size>128,23</size>
			<handler function="OnButton1Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON2" variable="Button2" member="yes">
			<label>Modify Grades</label>
			<pos>136,136</pos>
			<size>128,23</size>
			<handler function="OnButton2Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON3" variable="Button3" member="yes">
			<label>Modify Class</label>
			<pos>136,184</pos>
			<size>128,23</size>
			<handler function="OnButton3Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON4" variable="Button4" member="yes">
			<label>View Details</label>
			<pos>136,232</pos>
			<size>128,23</size>
			<handler function="OnButton4Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxButton" name="ID_BUTTON5" variable="Button5" member="yes">
			<label>Back</label>
			<pos>32,328</pos>
			<handler function="OnButton5Click" entry="EVT_BUTTON" />
		</object>
		<object class="wxStaticText" name="ID_STATICTEXT4" variable="StaticText4" member="yes">
			<label>Modify Student Details</label>
			<pos>112,32</pos>
			<size>128,16</size>
			<font>
				<size>14</size>
				<style>normal</style>
				<weight>bold</weight>
				<underlined>0</underlined>
				<family>swiss</family>
				<face>Candara</face>
			</font>
		</object>
	</object>
</wxsmith>
